<html>
<head>
    <meta charset="UTF-8">
    <title>User Management Challenge</title>
    <meta name="author" content="Gravitational, Inc.">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <script src="../static/scripts.js"></script>
</head>

<body>
<form class="login-form">
    <h1>Sign Into Your Account</h1>
    <div>
        <label for="email">Email Address</label>
        <input type="email" id="email" class="field" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" class="field" />
    </div>
    <input id="handle-submit" type="button" value="Login to my Dashboard" class="button block" >
</form>

<form id="restricted" name="restricted" style="display: none;">
    <input id="X-CSRF-Token-input" name="X-CSRF-Token" />
</form>
<script nonce="EDNnf03nceIOfn39fn3e9h3sdfa">
let submitButton = document.getElementById('handle-submit');
submitButton.addEventListener('click', function (){handleSubmit()});
document.getElementById('password').addEventListener('keypress', function(e) {
  if (e.key === 'Enter') {
        handleSubmit();
    }
});
</script>
</body>
</html>